<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | SafeFlight</title>

</head>

<body class="auth-page">
    <div class="auth-container">
        <div class="auth-card shadow-lg text-center">

            <h3 class="fw-bold mt-3" th:text="${errorTitle?: 'Oops!'}">Error</h3>
            <p class="text-muted" th:text=" ${errorMessage?:'Somethingwentwrong.Pleasetryagain.'}">Errordescription</p>

            <a th:href="@{/}" class="btn btn-primary mt-3">
                BacktoHome
            </a>
        </div>
    </div>
</body>

</html>